.store-container {
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.store-pack-container {
  display: flex;
  flex-direction: row;
}

.store-pack {
  padding: 20px;
}

.store-pack-name {
  font-size: x-large;
}

.store-pack-price {
  font-size: xx-large;
}

.store-pack-amount {
  font-size: larger;
}
