.card-rarity-common {
  background-color: lightgray;
}

.card-rarity-uncommon {
  background-color: green;
}

.card-rarity-rare {
  background-color: blue;
}

.card-rarity-epic {
  background-color: darkorchid;
}

.card-rarity-legendary {
  background-color: darkorange;
}

.card-dock:hover {
  z-index: 1;
}

.card-scene {
  width: 200px;
  height: 336px;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  transform-origin: center right;
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  display: grid;
}

@keyframes hide {
  99% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.card.is-flipped .card__face--front {
  animation: hide 1s;
  visibility: visible;
  animation-fill-mode: forwards;
}

.card__face--back {
  transform: rotateY(180deg);
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card-border {
  border: solid black 1px;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.card-zoom {
  transition: transform 0.2s;
}

.card-zoom:hover {
  transform: scale(1.5);
}

.card-body {
  text-align: center;
  font-size: x-large;
  border: solid black 1px;
  border-radius: 5px;
  background-color: #ffa500;
  overflow: hidden;
  height: 94%;
  width: 91%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows: 25% 75%;
}

.card-name {
  display: grid;
  align-items: center;
  justify-content: center;
  text-shadow: black 1px 1px 0px;
  font-size: 1.2em;
  letter-spacing: 1px;
  border-bottom: solid black 1px;
}

.card-image {
  align-self: stretch;
  height: 100%;
  width: 100%;
  /* vertical-align: bottom; */
}

.card-stat {
  display: grid;
  grid-template-columns: 70% 30%;
  font-size: medium;
  background-color: #ffffff66;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 1px;
}

.card-stats-container {
  padding-top: 12px;
  padding-bottom: 12px;
}

.card-back-details {
}

.dotted {
  background-image: -webkit-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 2px,
    transparent 3px,
    transparent 100%
  );
  background-image: -moz-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 3px,
    transparent 1px,
    transparent 100%
  );
  background-image: -ms-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 3px,
    transparent 1px,
    transparent 100%
  );
  background-image: repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 3px,
    transparent 1px,
    transparent 100%
  );
  -webkit-background-size: 7px 7px;
  -moz-background-size: 7px 7px;
  background-size: 7px 7px;
}

.card-hidden {
  visibility: hidden;
}

.card-revealed {
  -webkit-animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card-button {
  background-color: #00000088;
  padding: 10px;
  color: #ffa500;
  font-size: 2em;
  transition: color 0.5s;
  letter-spacing: 2px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.card-button:hover {
  color: black;
  cursor: pointer;
}

.card-level {
  display: grid;
  justify-items: center;
  align-items: center;
  position: absolute;
  text-align: center;
  width: 30px;
  height: 30px;
  bottom: 10px;
  right: 10px;
  padding: 4px;
  border-radius: 30%;
  background-color: orange;
  border: 3px solid black;
}

.card-level-name {
  position: absolute;
  top: -20px;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  font-size: 1.2em;
}
