.card-scene {
  width: 200px;
  height: 336px;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: center right;
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  display: grid;
}

.card__face--front {
}

.card__face--back {
  transform: rotateY(180deg);
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card-border {
  background: white;
  border: solid black 1px;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.card-zoom {
  -webkit-animation: fadein 3s;
  transition: transform 0.2s;
}

.card-zoom:hover {
  transform: scale(1.5);
  z-index: 2;
}

.card-body {
  text-align: center;
  font-size: x-large;
  border: solid black 1px;
  border-radius: 5px;
  background-color: orange;
  overflow: hidden;
  height: 94%;
  width: 91%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows: 25% 75%;
}

.card-name {
  display: grid;
  align-items: center;
  justify-content: center;
  text-shadow: black 1px 1px 0px;
  font-size: 1.2em;
  letter-spacing: 1px;
  background-color: #000000aa;
  border-bottom: solid black 1px;
}

.card-image {
  align-self: stretch;
  height: 100%;
  width: 100%;
  vertical-align: bottom;
}

.dotted {
  background-image: -webkit-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 2px,
    transparent 1px,
    transparent 100%
  );
  background-image: -moz-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 2px,
    transparent 1px,
    transparent 100%
  );
  background-image: -ms-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 2px,
    transparent 1px,
    transparent 100%
  );
  background-image: repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 2px,
    transparent 1px,
    transparent 100%
  );
  -webkit-background-size: 8px 8px;
  -moz-background-size: 8px 8px;
  background-size: 8px 8px;
}
