.userinfo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  top: 20px;
}

.userinfo-balance {
  font-size: 2em;
  letter-spacing: 2px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  display: flex;
  align-items: center;
}
