@font-face {
  font-family: superHeroFont;
  src: url("font/Bangers.ttf");
}

body {
  margin: 0;
  font-family: superHeroFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
