.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 33px;
  background-color: #ffffffcf;
  margin: auto;
  border-radius: 20px;
  box-shadow: 4px 2px 40px 20px #4b4f50;
}

.form-background {
  padding: 50px;
  display: flex;
}

.error-container {
  min-height: 17px;
}
