.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  padding: 7px;
}

.form-background {
  background-color: #ffffffcf;
  max-width: 382px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 4px 2px 40px 20px #4b4f50;
}

.error-container {
  min-height: 17px;
}
